{% extends "layout.html" %}

{% block content %}

<div class="info">
    <br>
    <br>
    <h1>Método de la Secante</h1>
</div>

<div class="row mt-5 mb-10">
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ingrese sus datos</h5>
                <form method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        <label for="funcion">Función</label>
                        <input type="text"
                                class="form-control"
                                name="funcion"
                                placeholder="Ingrese función">

                        <label for="xs">Valor de intervalo (a)</label>
                        <input type="text"
                                class="form-control"
                                name="xs"
                                placeholder="Ingrese valor de a">

                        <label for="xi">Valor de intervalo (b)</label>
                        <input type="text"
                                class="form-control"
                                name="xi"
                                placeholder="Ingrese valor de b">

                        <label for="tolerancia">Tolerancia</label>
                        <input type="text"
                                class="form-control"
                                name="tolerancia"
                                placeholder="Ingrese tolerancia">

                        <label for="iteraciones">Iteraciones</label>
                        <input type="text"
                                class="form-control"
                                name="iteraciones"
                                placeholder="Ingrese número de iteraciones">

                        <button type="submit" class="btn btn-outline-secondary">Evaluar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-5">
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
        {% if data %}
            <h2>Solución</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        {% for i in data.columns %}
                        <th scope="col">
                            <h3>{{ i }}</h3>
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for dato in data.results %}
                    <tr>
                        {% for valores in dato %}
                        <td>{{ valores }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h4>La aproximación de la raíz encontrada es: {{ data.root }}</h4>
            {% if plot_url %}
                <img src="data:image/png;base64,{{ plot_url }}" alt="Gráfico Secante">
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}
