{% extends "layout.html" %}

{% block content %}

<div class="info">
    <br>
    <br>
    <h1>Método SOR</h1>
</div>

<div class="row mt-5 mb-10">
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ingrese sus datos</h5>
                <form method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        <label for="matrizA">Matriz A</label>
                        <input type="text"
                                class="form-control"
                                name="matrizA"
                                placeholder="Ingrese la matriz A">

                        <label for="vectorX0">Vector X0</label>
                        <input type="text"
                                class="form-control"
                                name="vectorX0"
                                placeholder="Ingrese el vector X0">

                        <label for="vectorB">Vector B</label>
                        <input type="text"
                                class="form-control"
                                name="vectorB"
                                placeholder="Ingrese el vector B">

                        <label for="wValue">Valor - W</label>
                        <input type="text"
                                class="form-control"
                                name="wValue"
                                placeholder="Ingrese el valor de w">

                        <label for="tolerancia">Tolerancia</label>
                        <input type="text"
                                class="form-control"
                                name="tolerancia"
                                placeholder="Ingrese la tolerancia">

                        <label for="iteraciones">Iteraciones</label>
                        <input type="text"
                                class="form-control"
                                name="iteraciones"
                                placeholder="Ingrese el número de iteraciones">

                        <button type="submit" class="btn btn-outline-secondary">Evaluar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-5">
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
        {% if data %}
            <h2>Matrices</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Matriz T</th>
                        <th>Matriz C</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ data.t }}</td>
                        <td>{{ data.c }}</td>
                    </tr>
                </tbody>
            </table>
            <h2>Solución</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Iteraciones</th>
                        <th>Datos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i, j in data.informacion %}
                    <tr>
                        <td>{{ i }}</td>
                        <td>{{ j }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h4>La solución del sistema es: {{ data.solucion }}</h4>
            <br>
            <h3>El radio espectral es: {{ data.esp }}</h3>
            {% if plot_url %}
                <img src="data:image/png;base64,{{ plot_url }}" alt="Gráfico SOR">
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}
