{% extends "layout.html" %}

{% block content %}

<div class="info">
    <br>
    <br>
    <h1>Método Spline Lineal</h1>
</div>

<div class="row mt-5 mb-10">
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ingrese sus datos</h5>
                <form method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        <label for="x">X</label>
                        <input type="text" class="form-control" name="x" placeholder="Ingrese el vector X">

                        <label for="y">Y</label>
                        <input type="text" class="form-control" name="y" placeholder="Ingrese el vector Y">

                        <button type="submit" class="btn btn-outline-secondary">Evaluar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Resultado -->
    <div class="col-5">
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
            <h2>Coeficientes</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Valores</th>
                    </tr>
                </thead>
                <tbody>
                    {% for poly in coef %}
                    <tr>
                        <td>{{ poly }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h2>Polinomios</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Valores</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tracer in tracers %}
                    <tr>
                        <td>{{ tracer }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% if plot_url %}
            <h2>Gráfico de Interpolación Lineal</h2>
            <img src="data:image/png;base64,{{ plot_url }}" alt="Gráfico Spline Lineal">
        {% endif %}
    </div>
</div>

{% endblock %}
