{% extends 'layout.html' %}

{% block content %}

<div class="info" style="color: deepskyblue; background-color: white;">
    <br>
    <br>
    <h1>SOLUCIONADOR-INADOR</h1>
    <br>
    <br>
    <br>
    <h3>El Solucionador-Inador es una página creada por un grupo de 4 estudiantes de la Universidad EAFIT:</h3>
    <ul>
        <li>Juan Sebastian Camacho Palacio</li>
        <li>Laura Danniela Zarate Guerrero</li>
        <li>Felipe Uribe Correa</li>
        <li>Pablo Baez Santamaria</li>
    </ul>
    <h3>En la cuál podrás encontrar diferentes métodos matemáticos en donde para solucionar los problemas mundiales</h3>
    <br>
    <br>
    <h3>Es el proyecto final del semestre 2024-1</h3>
    <br>
    <a class="btn btn-danger btn-lg" href="/menu">¡Explora Los Métodos!</a>
</div>

{% endblock %}
