{% extends 'layout.html' %}

{% block content %}

<div class="container my-5">
    <div class="info">
        <br>
        <h1>Capítulo 1</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Bisección</h5>
                    <p class="card-text">Método para encontrar raíces de una función.</p>
                    <a href="/biseccion" class="btn btn-outline-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Punto Fijo</h5>
                    <p class="card-text">Método de iteración simple para encontrar raíces.</p>
                    <a href="/puntoFijo" class="btn btn-outline-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Newton-Raphson</h5>
                    <p class="card-text">Método rápido para encontrar raíces de funciones.</p>
                    <a href="/newton" class="btn btn-outline-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Regla Falsa</h5>
                    <p class="card-text">Método para encontrar raíces usando interpolación lineal.</p>
                    <a href="/reglaFalsa" class="btn btn-outline-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Secante</h5>
                    <p class="card-text">Método para encontrar raíces sin derivadas.</p>
                    <a href="/secante" class="btn btn-outline-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Raíces Múltiples</h5>
                    <p class="card-text">Método para encontrar raíces múltiples de una función.</p>
                    <a href="/raicesMultiples" class="btn btn-outline-secondary">Calcular</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="info">
        <br>
        <h1>Capítulo 2</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Jacobi</h5>
                    <p class="card-text">Método iterativo para resolver sistemas de ecuaciones lineales.</p>
                    <a href="/jacobi" class="btn btn-outline-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Gauss-Seidel</h5>
                    <p class="card-text">Método iterativo mejorado para resolver sistemas lineales.</p>
                    <a href="/gaussSeidel" class="btn btn-outline-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">SOR</h5>
                    <p class="card-text">Método iterativo para acelerar la convergencia del Gauss-Seidel.</p>
                    <a href="/sor" class="btn btn-outline-secondary">Calcular</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="info">
        <br>
        <h1>Capítulo 3</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Spline Lineal</h5>
                    <p class="card-text">Método de interpolación de Spline lineal.</p>
                    <a href="/splineLineal" class="btn btn-outline-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Spline Cuadrático</h5>
                    <p class="card-text">Método de interpolación de Spline cuadratico.</p>
                    <a href="/splineCuadratica" class="btn btn-outline-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Spline Cúbico</h5>
                    <p class="card-text">Método de interpolación de Spline cubico.</p>
                    <a href="/splineCubica" class="btn btn-outline-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">VanderMonde</h5>
                    <p class="card-text">Método de interpolación utilizando matrices de Vandermonde.</p>
                    <a href="/vandermonde" class="btn btn-outline-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Newton Interpolante</h5>
                    <p class="card-text">Método de interpolación de Newton con diferencias divididas.</p>
                    <a href="/newtonInter" class="btn btn-outline-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Lagrange</h5>
                    <p class="card-text">Método de interpolación polinómica de Lagrange.</p>
                    <a href="/lagrange" class="btn btn-outline-secondary">Calcular</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
